* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

/*Navbar*/


.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: #fff;

}

.navbar-brand {
  display: flex;
  align-items: center;
  text-decoration: none;
}

.navbar-brand img {
  height: 120px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-nav {
  margin-left: 20px;
}

.nav-item {
  margin-left: 10px;
}

.nav-item .nav-link {
  color: #004e79;
  margin-left: 2px;
  text-shadow: 0px 0px 1px black;
  transition: 0.5s ease;
}

.dropdown-menu li a {
  color: white;
  transition: 0.5s ease;
}
/*Navbar*/

/*Slaider*/
.carousel-inner{
  height: 100%;
  min-height: 300px;
}

#carouselExampleIndicators {
  /* Colores personalizados */
  --carousel-bg-color: #fff;
  --carousel-indicator-bg-color: #ccc;
  --carousel-indicator-active-bg-color: #000;

  /* Estilos personalizados */
  background-color: var(--carousel-bg-color);
  border-radius: 10px;
  padding: 20px;
}

#carouselExampleIndicators .carousel-indicators {
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

#carouselExampleIndicators .carousel-indicators button {
  width: 10px;
  height: 10px;
  margin: 0 4px;
  border: none;
  border-radius: 50%;
  background-color: var(--carousel-indicator-bg-color);
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

#carouselExampleIndicators .carousel-indicators button.active {
  opacity: 1;
  background-color: var(--carousel-indicator-active-bg-color);
}

/*#carouselExampleIndicators .carousel-inner {
  height: 300px;
}*/

#carouselExampleIndicators .carousel-item {
  height: 100%;
  background-size: cover;
  background-position: center center
}

#carouselExampleIndicators .carousel-control-prev,
#carouselExampleIndicators .carousel-control-next {
  top: 0;
  bottom: 0;
  margin:  auto 0 ;
  width: 40px;
  height: 40px;
  color: #fff;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2);
  border: none;
  border-radius: 50%;
  opacity: 0.5;
  transition: opacity 0.2s ease-in-out;
}

#carouselExampleIndicators .carousel-control-prev:hover,
#carouselExampleIndicators .carousel-control-next:hover {
  opacity: 1;
}

#carouselExampleIndicators .carousel-control-prev-icon,
#carouselExampleIndicators .carousel-control-next-icon {
  font-size: 36px;
}
/*Slaider*/

/*Sobre Nosotros*/
.text-center{
  text-transform: uppercase;
  color: #004e79;
}

.nosotros{
  text-align: justify;
  line-height: 2em;
  font-size: 18px;
}

.img-fluid{
  width: 400px;
  border-radius:  10px;
}

.img-fluid:hover{
  /* transform: scale(1.2);
  opacity: 0.7;
  transition: 0.5s; */
    border-radius: 15px;
    scale: 1.08;
    font-size: 10px;
}

@media (max-width: 768px) {
  .nosotros {
    flex-direction: column;
  }

  .nosotros .col-6 {
    width: 100%;
    flex-direction: column-reverse;
  }
}

/*Sobre Nosotros*/

/*Barra*/

/*Barra*/




/* footer */
#footer {
  background-color: #212529;
  color: white;
  padding: 30px 0;
}

#footer .img-fluid {
  width: 150px;
  height: auto;
}

#footer .d-flex.justify-content-between {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-top: 10px;
}

#footer ul .list-unstyled {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-right: 10px;
  margin-bottom: 0;
}

#footer ul.list-unstyled li {
  display: inline-block;
  margin-right: 10px;
}

#footer ul.list-unstyled li:last-child {
  text-align: center;
  margin-right: 0 10px;
}

#footer .copyright {
  font-size: 14px;
}

#footer .footer-links {
  margin-bottom: 30px;
  margin-top: 10px;
}

#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  text-decoration: none;
  background-color: #373737;
  color: white;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  transition: 0.5s ease;
}

#footer .social-links a:hover {
  background-color: #004e79;
  color: white;
}

#footer .d-flex.justify-content-end {
  margin-top: 10px;
}

#footer {
  margin: 0 auto;
  text-align: center;
}

#footer .socail-links a {
  display: inline-block;
  margin: 0 10px;
}

#footer .copyright {
  margin: 0 auto;

}

.span__span{
  color: #004e79;
}

@media (max-width: 768px) {
  #footer .container {
    max-width: 100%;
  }

  #footer .img-fluid {
    width: 120px;
    height: auto;
  }

  #footer .list-unstyled {
    flex-wrap: wrap;
  }

  #footer .list-inline {
    display: flex;
    flex-direction: inline-block;
  }

  #footer .social-links li {
    margin-top: 1rem;
    
  }

  #footer .copyright {
    display: flex;
    flex-direction: column;
  
  }
}

@media (max-width: 550px) {
  #footer .container {
    max-width: 100%;
  }

  #footer .img-fluid {
    width: 100px;
    height: auto;
  }

  #footer .list-unstyled {
    flex-wrap: wrap;
  }

  #footer .list-inline {
    display: flex;
    flex-direction: inline-block;
  }

  #footer .social-links li {
    margin-top: 1rem;
    
  }

  #footer .copyright {
    display: flex;
    flex-direction: column;
  
  }
}
/* footer */



/*HEADER*/
.jumbotron {
  display: flex;
  color: #ffffff;
  width: 100%;
  height: 100px;
  background: #004e79;
  text-align: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.jumbotron:hover{
  color: #d2b862;
}
/*HEADER*/

.cabeza{
  display: flex;
  text-transform: uppercase;
  font-size: 24px;
  color: black;
}

.contenido, .contenido1{
  display: flex;
  text-transform: uppercase;
  font-size: 16px;
  color: black;
}


.text-center {
  text-align: center;
}

.btn-primary {
  background-color: #004e79;
  color: white;
}



h1 {
  text-align: center;
}

.event {
  margin-bottom: 20px;
}

.event img {
  width: 100%;
  height: auto;
}

.event h2 {
  font-size: 20px;
  margin-bottom: 10px;
}

.event p {
  margin-bottom: 0;
}

.btn-primary {
  background-color: #000;
  color: #fff;
}

@media (max-width: 768px) {


  .jumbotron {
    height: 80px;
  }

  .cabeza {
    font-size: 20px;
  }

  .contenido, .contenido1 {
    font-size: 14px;
  }

  .event h2 {
    font-size: 18px;
  }
}

/*Boton de WhatsApp*/

.float{
	position: fixed ;
  float: left;
	width:60px;
	height:60px;
	bottom:40px;
	right:105px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
  line-height: 50px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
 n: column;
}
.float:hover {
	text-decoration: none;
	color: #25d366;
  background-color:#fff;
}

.my-float{
	margin-top:16px;
}

/*Boton de WhatsApp*/

html {
  scroll-behavior: smooth;
}

.arrow {
  position: fixed;
  background-color: #004e79;
  border-radius: 60px;

  height: 50px;
  bottom: 40px;
  right: 50px;
  
  text-decoration: none;
  align-items: center;
  line-height: 50px;
  
}